export(ShortestAR)
export(ShortestCI)
export(QuasiConventionalAR)
export(QuasiConventionalCI)
export(ModifiedPrattAR)
export(ModifiedPrattCI)
export(QuantileCI)
export(LikelihoodRatioCI)
export(BYCI)
export(zscore2pearson)
export(pearson2zscore)
export(ConditionalPointML)